@{
    ViewData["Title"] = "Contant Me Through";
}
<div class="container pb-3 mt-3">

    <div class="container">
        <h1>Contact Me Through</h1>
        <hr class="hr" />
    </div>

    <div class="container mt-3">
        
    <h1>
        <a class="btn btn-dark btn-lg" target="_blank" href="https://github.com/B-Rajugouda-Haranahalli"><i class="bi bi-github"></i> &nbsp;GitHub</a>
     </h1>           
        
    </div>
    <div class="container mt-3">
        <h1>
            <a class="btn btn-info btn-lg" target="_blank" href="https://www.linkedin.com/in/b-rajugouda-haranahalli-7980ba24b/"><i class="bi bi-linkedin"></i>&nbsp;LinkedIn</a>
        </h1>
    </div>

    

</div>