
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-shadow {
        text-shadow: 2px 2px 4px rgb(0 0 0 / 0.50);
    }
</style>

<div class="container p-3">

<h1 class="mt-3 text-shadow">About This Application</h1>
<br />

    <div class="card border-info mb-3" style="max-width: 80%;">
        <div class="card-header text-warning">
            <h3>
            This Web Application is made using &nbsp; <span> ASP.NET Core MVC</span>
            </h3>
        </div>
        <div class="card-body">
            <h5 class="card-title text-info">Some Key Features of This Application </h5>
            <p class="card-text">
                <ul class="text-info">
                    <li>Server &nbsp;and &nbsp;Client &nbsp;Validation</li>
                    <li>Responsive &nbsp;website &nbsp;which &nbsp;Makes &nbsp;Device &nbsp;Compatibility</li>
                    <li>Custom Routing</li>
                </ul>
            </p>
        </div>
    </div>

</div>

